@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
*
{
	margin:auto;box-sizing: border-box;
}
body
{
	background-color: black;
	z-index: -1;
}
.bar
{
	height: auto;
	width:1200px;
	background-color: white;
	margin:auto;
	overflow: hidden;
}
.logo
{
	color: 4px solid #313131;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	float:left;
	margin-right: 200px;
	background-color: white;
	padding: 5px 0 0 100px;
	text-decoration: bolder;
	font-weight: bold;}
.txt
{
	color: #313131;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	margin-left: 0px;
	float: left;
	background-color: white;
	padding: 15px;
	text-decoration: none;

}

.ph
{
color: #313131;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	margin-left: 0px;
	float: left;
	background-color: white;
	padding: 12px 0 0 50px;
	font-weight: bold;

}
.bar ul li a {
	text-decoration: none;
	color: black;
}
.bar ul
{
	list-style: none;
}
.active a, ul li a:hover{
	background-color: orange;
	color: white;
	padding: 10px;
}
.clc{clear: both;}
header
{
	background:#484848;
	height: 400px;
	width: 1200px;
	z-index: 1;

}
.sol
{
	color:#FFFFFF;
	font-weight:bolder;
	 font-family: 'Source Sans Pro', sans-serif;
	 font-size:45px;
	 text-align: center;
	 padding-top: 100px;
}
.info
{
	color:#FFFFFF;
	 font-family: 'Source Sans Pro', sans-serif;
	 font-size:15px;
	 text-align: center;
	 padding-top: 30px;
	 line-height: 25px;
}
.mid
{
 background:#EEEEEE;
 height: 800px;
 width:1200px;

}
.a1{
	 background:#EEEEEE;
 height: 400px;
 width:1200px;
 padding:20px;
}
.con{
	height: 350px;
	width: 250px;
}